@page "/Seller/{ContractId:guid?}"
@using AutoDokas.Components.Pages.Contract.ViewModels;
@inject IStringLocalizer<Text> Localizer
@attribute [StreamRendering]
@rendermode InteractiveServer
@inherits FormComponentBase<SellerFormModel>

<PageTitle>Form</PageTitle>

<div class="container my-4">

    <Stepper Steps="4" CurrentStep="1" />
    
    <h3>Seller Information</h3>

    @if (Loading)
    {
        <div class="spinner-border" role="status"></div>
    }
    else
    {
        <EditForm FormName="SellerForm" EditContext="EditContext" OnValidSubmit="Submit">
            <DataAnnotationsValidator/>
            <div class="mb-3">
                <label class="form-label" for="Name">@Localizer["Name"]</label>
                <InputText class="form-control" @bind-Value="Model.Name" id="Name"/>
                <ValidationMessage For="() => Model.Name"/>
            </div>
            <div class="mb-3">
                <InputCheckbox class="form-check-input" @bind-Value="Model.IsCompany" id="IsCompany"/>
                <label class="form-check-label" for="IsCompany">Is Company</label>
            </div>
            <div class="mb-3">
                <label class="form-label" for="Code">Code</label>
                <InputText @bind-Value="Model.Code" id="Code"/>
                <ValidationMessage For="() => Model.Code"/>
            </div>
            <div class="mb-3">
                <label class="form-label" for="Phone">Phone Number</label>
                <InputText type="tel" @bind-Value="Model.Phone" id="Phone"/>
                <ValidationMessage For="() => Model.Phone"/>
            </div>
            <div class="mb-3">
                <label class="form-label" for="Address">Address</label>
                <InputText @bind-Value="Model.Address" id="Address"/>
                <ValidationMessage For="() => Model.Address"/>
            </div>
            <div class="mb-3">
                <label class="form-label" for="Origin">Origin</label>
                <InputSelect class="form-control" @bind-Value="Model.Origin" id="Origin">
                    @foreach (var country in Countries)
                    {
                        <option value="@country" selected="@(Model.Origin?.Code == country.Code)">@country.Name - @country.Code</option>
                    }
                </InputSelect>
                <ValidationMessage For="() => Model.Origin"/>
            </div>
            <div class="mb-3">
                <label class="form-label" for="Email">Email</label>
                <InputText type="email" @bind-Value="Model.Email" id="Email"/>
                <ValidationMessage For="() => Model.Email"/>
            </div>
            <div class="mb-3">
                <label class="form-label" for="CreatedAt">Contract Creation Date</label>
                <InputDate class="form-control" @bind-Value="Model.CreatedAt" id="CreatedAt" Type="InputDateType.DateTimeLocal"/>
            </div>
            <div class="mb-3 form-check">
                <InputCheckbox class="form-check-input" id="Consent" @bind-Value="Model.HasConsented" />
                <label class="form-check-label" for="Consent">I consent to the terms and conditions</label>
            </div>
            <button class="btn btn-primary mt-2" type="submit" disabled="@(!Model.HasConsented)">Next</button>
        </EditForm>
    }
</div>